################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeFirst.EFCore/.vs/CodeFirst.EFCore/v15
